main
{
  margin-bottom: 25px;
}

footer 
{
  position: fixed;
  left:     0px;
  bottom:   0px;
  width:    100vw;
  padding:  8px 0 8px 0;

  background-color: #0E1011;
  vertical-align: middle;
  
  /*Flex container stline*/
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

footer a
{
  text-decoration: none;
  color: #FFFFFF;
}
footer .email   {order: 1;} /*Flex item order*/
footer .twitter {order: 2;} /*Flex item order*/