body
{
  background-color: #24292E;
  color: #FFFFFF;
  font-family: "Poppins", sans-serif;
}

h1
{
  font-size: 2em;  
}

p
{
  font-size: 1em; 
}

nav
{
  background-color: #65696C;
}

nav li
{
  font-size: 1.5em;
  text-align: center;
  list-style-type: none;
  float: left;
  padding: 15px;   
  background-color: #65696C;
  border-radius: 10px;  
}

nav li a {
  display: block;
  text-decoration: none;
  color: #FFFFFF;
}

nav li a:hover {
  background-color: #919496;
  border-radius: 10px;
  color: #FFFFFF;
}
