/* IMPORT FONTS */
@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=Lato');

body
{
  background-color: #24292E;
  color: #FFFFFF;
  font-family: "Poppins", sans-serif;
  margin:0;
}

/****************/
/* START OF NAV */
/****************/

nav
{
  background-color: #0E1011;
  padding: 10px;
  vertical-align: middle;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#name
{
  /*General styling*/
  font-size: 1.5em;  
  margin: 0;
  padding: 0 5% 0 0;
  text-decoration: none;
  color: #FFFFFF;
  
  /*Flex item styling*/
  order: 1;
  flex-grow: 2; /*Setting #name, #home and menu to flex-grow: 2, 0, 1
                  respectively, allows the #home to center correctly*/
}

#name:hover
{
  color: #464F59;
}

#home
{
  /*General styling*/
  text-align: center;
  transition: transform .5s ease-in-out;
  
  /*Flex item styling*/
  order: 2;
  flex-grow: 0; /*Setting #name, #home and menu to flex-grow: 2, 0, 1
                  respectively, allows the #home to center correctly*/
}

#home:hover
{
  transform: scale(1.25);
}

#home img{
  width: 3em;
  height: auto;
}

nav ul
{
  /*General styling*/
  margin: 0;
  padding: 0 0 0 25px;
  list-style-type: none;
  
  /*Flex item styling*/
  order: 3;
  flex-grow: 1; /*Setting #name, #home and menu to flex-grow: 2, 0, 1
                  respectively, allows the #home to center correctly*/  
  
  /*Flex container styling (This list owns a separate, nested flexbox)*/
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

nav li
{
  font-size: 1.5em;
  text-align: center;
  border-radius: 10px;
  padding: 0 0 0 5%;
}

nav li a {
  text-decoration: none;
  color: #FFFFFF;
  padding: 10px;
}

nav li a:hover 
{
  background-color: #464F59;
  border-radius: 10px;
  color: #FFFFFF;
}
/**************/
/* END OF NAV */
/**************/

/*****************/
/* START OF MAIN */
/*****************/

main
{
  display: flex;
  flex-direction: column;
  
  margin: 0 30%;
}

main p
{
  font-family: "Lato", sans-serif;
}

/***************/
/* END OF MAIN */
/***************/

/************/
/* PORTRAIT */
/************/

@media screen and (orientation: portrait) 
{
  main
  {
    margin: 0 5%;
  }
}
