body
{
  background-color: #24292E;
  /*Text*/
  color: #FFFFFF;
  font-family: "Poppins", sans-serif;
}

h1
{
  font-size: 2em;
}

p
{
  font-size: 1.5em; 
}

nav li
{
  font-size: 1.5em;
  list-style-type: none;
  float: left;
  padding: 10px;
  text-decoration: none;
}

nav li a {
  display: block;
  text-align: center;
  
}

nav li a:hover {
  background-color: #919496;
  border-radius: 10px;
}
