/* CSS file for styles relating to links with associated iconography */

.links 
{
  border-radius: 8px;
  background-color: #0E1011;
  vertical-align: middle;
  list-style: none;
  padding: 8px;
  margin: 0;

  /*Flex container styling (This list owns a separate, nested flexbox)*/
  display: flex;
  gap: 8px;
}

.links li
{
  text-align: center;
}

.links li a
{
  color: #FFFFFF;
  text-decoration: none;
  margin: 8px 0 8px 0;
}

.links li a:before
{
  position:relative;
  width: 25px; 
  height: 25px;
  float: left;
  margin: 0 4px 0 0;
  content:"";
  /*Spritesheet preloads all images to avoid flickering and clean css*/
  background: url('/Images/Links/50x25px/spritesheet.png') 
}

.dengar:before   {background-position: 0    0px!important;}
.download:before {background-position: 0  -25px!important;}
.email:before    {background-position: 0  -50px!important;}
.ggj:before      {background-position: 0  -75px!important;}
.github:before   {background-position: 0 -100px!important;}
.itch:before     {background-position: 0 -125px!important;}
.linkedin:before {background-position: 0 -150px!important;}
.ludumdare:before{background-position: 0 -175px!important;}
.play:before     {background-position: 0 -200px!important;}
.twitter:before  {background-position: 0 -225px!important;}
.unity:before    {background-position: 0 -250px!important;}
.vr:before       {background-position: 0 -275px!important;}
.website:before  {background-position: 0 -300px!important;}
.youtube:before  {background-position: 0 -325px!important;}

.links li a:hover{color: #464F59;}
.links li a:hover:before{background-position-x: -25px!important;}