/* IMPORT FONTS */
@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=Lato');

html, body
{
  background-color: #24292E;
  color: #FFFFFF;
  font-family: "Poppins", sans-serif;
  margin:0;
  
  height:100%;
  width:100%;
}

main
{
  display: flex;
  flex-direction: column;
  margin: 1vh 30vw 5vh;
}

main section
{
  background-color: #464F59;
  border-radius: 10px;
  padding: 10px;
  margin: 10px 0 10px 0;
}

main section h2
{
  font-size: 2.5em;
  margin: 0;
}

main section p{font-family: "Lato", sans-serif;}
main section p a
{
  color: #fff;
  text-decoration: none;
  border-bottom: 1px dotted #fff;
  padding-bottom: 2px;
}
main section p a:hover{border-bottom: 1px solid #fff;}

/*TO-DO, FIX: Inline lists should display as two columns...should*/
main section p ul
{
  columns:         25% 2!important;  
  -webkit-columns: 25% 2!important; 
  -moz-columns:    25% 2!important;
}

video, canvas
{
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

@media screen and (orientation: portrait) 
{
  main
  {
    margin: 1vh 5vw 5vh;
  }
}