#threejs-container {
  /*general properties*/
  width: 50vh;
  height: 80vh;
  padding: 1vh;
  margin: 0;

  /*as item*/
  flex-grow: 1;

  /*as container*/
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: stretch;
}

canvas{
  border-radius: 10px;
  display:block;

  flex-grow: 0;
  flex-shrink: 1;
  order: -1;
}

#levelButtons-container{
  display: flex;
  justify-content: space-between;
}

#levelButtons-container > button{
  font-size: 1.5em;
  background-color: dimgray;
  color: white;
  border: solid 5px white;
  border-radius: 10px;
  margin-top: 1vh;
  cursor:pointer;
  flex-grow: 0;
}

#levelButtons-container > button:hover{
  background-color: black;
}

#btnNextLevel{background-color: blue!important;}
#btnNextLevel:hover{background-color: darkblue!important;}

#levelButtons-container > button:disabled{
  background-color: dimgray!important;
  color: white!important;
  cursor: not-allowed!important;
}
#levelButtons-container > button:disabled:hover{background-color: dimgray!important;}

#statusIndicator
{
  font-size: 1.5em;
  background-color: dimgray;
  color: white;
  border: solid 5px white;
  border-radius: 10px;
  margin-top: 1vh;

  flex-grow: 1;
  margin-left: 1vw;
  margin-right: 1vw;
  text-align: center;
}

@media only screen and (orientation: portrait) {
  #threejs-container, canvas{
    width:90vw;
    height:20vh;
  }
}