main{
  display: block;
  margin-top: 1vh!important;
  margin-left: 1vw!important;
  margin-bottom: 1vh!important;
  margin-right: 1vw!important;

  height: 80vh;
}

#blocklyContainer{
  /*as item*/
  flex-grow: 5;
  
  /*as container*/
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: stretch;
}

#blockly{
  flex-grow: 1;
}

.blocklyTreeLabel { color: black; font-weight: bold; }
.injectionDiv { border-radius: 10px; }

#blocklyButtons{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#blocklyButtons > button{
  
  color: white;
  border: solid 5px white;
  border-radius: 10px;
  margin-top: 1vh;
  cursor:pointer;
}
#btnPlay{
  font-size: 3em;
  background-color: green;
  flex-grow: 1;
}
#btnPlay:hover{background-color: darkgreen;}

#btnMenu{
  font-size: 1.5em;
  background-color: dimgray;
  flex-grow: 0;
  margin-right: 1vw;
}
#btnMenu:hover{background-color: black;}