#blocklyContainer{
  /*as item*/
  flex-grow: 5;
  
  /*as container*/
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: stretch;
}

#blockly{
  flex-grow: 1
}

.blocklyTreeLabel { color: black; font-weight: bold; }
.injectionDiv { border-radius: 10px; }

#btnPlay{
  font-size: 3em;
  background-color: green;
  color: white;
  border: solid 5px white;
  border-radius: 10px;
  margin-top: 1vh;
  cursor:pointer;
  width:100%;
  flex-grow: 0;
}
#btnPlay:hover{background-color: darkgreen;}